@import "tailwindcss";

*{
    font-family: "Poppins", sans-serif;
}

/* Add to your global CSS */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}